// babel的配置文件
// .babelrc不用引入，因为打包的时候，默认就会去找这个.babelrc文件
// presets是预设，意思就是插件的集合，比如说我需要把es6转换成es5，我可能需要把箭头函数转换成普通函数，
// 把let转换成var，class转换成函数，这就是一个插件的集合，它把这些插件都封装到所谓的预设里去
{
    "presets": [ 
        "@babel/preset-env" // 打包的时候，用这个模块把es6转换成es5
    ]
}